body {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.box1,
.box2 {
  flex: 1;
  padding: 10px;
}

.box1 {
  flex: 1;
  background-color: #f9f9f9;
  height: 100%;
}

.box2 {
  flex: 2;
  background-color: #f9f9f9;
  padding: auto;
  max-height: 930px;
}

#odeChart {
  margin: 1rem 0;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.98);
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
  outline: none;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #007bff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}
